.contacts .wrap {
	text-align: center;

	.list {
		color: #534eb4;
		margin: 0;
		margin-bottom: 80px;
		padding: 0;
		white-space: normal;

		.title {
			color: #712c91;
			font-size: 36px;
			line-height: 24px;
			margin-left: 0;
		}
		li {
			margin: 0;
			padding: 0;
			text-align: left;
			vertical-align: text-top;
		}
		li::before {
			display: none;
		}
		li ul {
			margin: 0;
			padding: 0;
			white-space: inherit;
			max-width: 350px;
		}

		li ul li,
		li ul {
			text-align: left;
		}
		li ul li {
			padding-left: 30px;
			margin-top: 15px;
		}
		li ul li::before {
			content: "—";
			display: block;
			background: none;
			position: absolute;
			left: 0;
			top: 0;
			margin: 0;
			width: auto;
			height: auto;
		}
	}


}

.contacts {
	text-align: center;

	.mailto {
		display: inline-block;
		padding: 32px 0 32px;
		margin: 54px auto;
		vertical-align: middle;
		color: #534eb4;
		font-size: 18px;
		position: relative;
		text-align: left;
		text-decoration: none;
	}
	.mailto::before {
		position: absolute;
		content: "";
		width: 80px;
		height: 80px;
		top: 50%;
		margin-top: -40px;
		left: -100px;
		background: url(../img/mailto.png) center no-repeat;
	}
}

@media screen and (max-width: 650px) {
	.contacts .wrap {
		.list {
			margin: 0 auto;
			margin-bottom: 40px;

			li ul {
				line-height: 26px;
				vertical-align: text-top;
				margin-top: -40px;
			}

			li ul li {
				margin-top: 0px;
				display: inline-block;
			}
		}
		.title {
			margin-top: 70px;
		}

	}
}