.location {
	.wrap {
		min-height: 325px;
	}
	h2 {
		//margin-top: 97px;
	}
	ul {
		width: 100%;
		padding: 0;
		/*min-height: 80px;*/
		/*background: rgba(222,1,1, .1);*/
		
	}
	ul {
		text-align: center;
		display: block;
		list-style: none;
		li {
			list-style: none;
			display: inline-block;
			margin-top: 54px;
			margin-bottom: 54px;
			display: inline-block;
			vertical-align: middle;
			color: #534eb4;
			white-space: pre-line;
			position: relative;
			text-align: left;
		}
		li::before {
			position: absolute;
			content: "";
			width: 80px;
			height: 80px;
			top: 50%;
			margin-top: -40px;
			left: -100px;
		}
		:nth-child(1) {
			margin-left: 100px;
		}
		:nth-child(1)::before {
			background: url(../img/icon-map2.png) center no-repeat;
		}
		:nth-child(2) {
			margin-left: 227px;
		}
		:nth-child(2)::before {
			background: url(../img/icon-phone2.png) center no-repeat;
		}
		:nth-child(3) {
			margin-left: 300px;
		}
		:nth-child(3)::before {
			background: url(../img/icon-clock.png) center no-repeat;
		}
	}
	.map {
		width: 100%;
		min-height: 528px;
	}
}

@media screen and(max-width: 1170px){
.location {
	ul {
		text-align: center;
		:nth-child(1) {
			margin-left: 100px;
		}
		:nth-child(1)::before {
			background: url(../img/icon-map2.png) center no-repeat;
		}
		:nth-child(2) {
			margin-left: 150px;
		}
		:nth-child(2)::before {
			background: url(../img/icon-phone2.png) center no-repeat;
		}
		:nth-child(3) {
			/*margin-left: 300px;*/
			margin-left:  150px;
		}
		:nth-child(3)::before {
			background: url(../img/icon-clock.png) center no-repeat;
		}
	}
}
}

@media screen and(max-width: 650px){
.location {
	ul {
		max-width: 350px;
		margin: 0 auto;
		text-align: left;
		li {
			display: block;
			margin: 80px auto;
		}
		:nth-child(1) {
			margin-left: 100px;
		}
		:nth-child(1)::before {
			background: url(../img/icon-map2.png) center no-repeat;
		}
		:nth-child(2) {
			margin-left: 100px;
		}
		:nth-child(2)::before {
			background: url(../img/icon-phone2.png) center no-repeat;
		}
		:nth-child(3) {
			/*margin-left: 300px;*/
			margin-left: 100px;
		}
		:nth-child(3)::before {
			background: url(../img/icon-clock.png) center no-repeat;
		}
	}
}
}
