@import "../libs/normalize";

html {
  /* width: 1240px; */
  /* margin: 0 auto; */
}

/* base styles and tipography */
body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #e1e1e1;
  font-family: Tahoma;
  font-size: 12px;
  line-height: 18px;
}

a {
  color: #0b68b5;
}

a:hover {
  color: #61a8d4;
}

/* grid */

/* end grid */

/* Header */
@import "header.scss";
.relative {
  position: relative;
}

header {
  position: static;
  min-height: 135px;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 510px;
  background: url(../img/navwrap-bg.png) 0 25px repeat-x;
  .navmenu {
    min-height: 92px;
    margin-bottom: 18px;
    //position: relative;
  }
  .navmenu:before,
  .navmenu:after {
    content: "";
    width: 12px;
    height: 54px;
    position: absolute;
    top: 25px;
  }
  .navmenu:before {
    left: -13px;
    background: url(../img/navmenu__shadow--left.png) no-repeat;
  }
  .navmenu:after {
    right: -13px;
    background: url(../img/navmenu__shadow--right.png) no-repeat;
  }

}

.navwrap {
  width: 870px;
  margin: 0 auto;
  margin-top: 28px;
  background: url(../img/navwrap-bg2.png) 0 0px repeat-x;

  border: 1px solid #efefef;
  border-radius: 6px 6px 0 0;
  border-bottom: none;
  position: relative;

  ul {
    list-style: none;
    margin-right: 30px;
    margin-top: 5px;
    float: right;

    li {
      float: left;
      font-family: Cambria;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #5d5c5d;
      /*padding-right: 8px;*/
      /*background: url(../img/nav-separator.png) center right no-repeat;*/
    }
    .navmenu__link a {
      position: relative;
      display: block;
      padding: 30px 24px 39px 24px;
      font-family: Cambria;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: #5d5c5d;
    }
    .navmenu__link a:hover,
    .navmenu__link--active a {
      color: #3494b7;
    }
    .navmenu__link a:hover:before {
      /*color: #3494b7;*/
      content: "";
      position: absolute;
      width: 110px;
      height: 18px;
      bottom: 0;
      left: 50%;
      margin-left: -55px;
      background: url(../img/navmenu__link--active.png) no-repeat;
    }
    .navmenu__link--active a:before {
      /*color: #3494b7;*/
      content: "";
      position: absolute;
      width: 110px;
      height: 18px;
      bottom: 0;
      left: 50%;
      margin-left: -55px;
      background: url(../img/navmenu__link--active.png) no-repeat;
    }
  }
}

.soclink {
  position: absolute;
  right: 1%;
  top: 45px;
  width: 20%;
  a {
    display: inline-block;
    width: 30px;
    height: 29px;
    background-color: #b0afaf;
    margin-left: 5%;
    text-align: center;
    border-radius: 50%;
    float: right;
  }
  a:hover {
    background-color: #4ec2e9;
  }
  img {
    vertical-align: middle;
    margin-top: 8px;
  }
  .soclink__vk img {
    margin-left: 0px;
  }
  .soclink__inst img {
    margin: 5px auto 0 2px;
  }
}

.logo {
  float: left;
  margin-top: 11px;
  margin-left: 22px;
  padding-left: 11px;
  font-family: Cambria;
  font-size: 14px;
  font-weight: 700;
  line-height: 13px;
  color: #273f62;
  text-align: left;
  text-decoration: none;
  background: url(../img/bird.png) 100% 100% no-repeat;
  width: 102px;
  height: 86px;
}

.logo:hover {
  color: #273f62;
}

/*main*/
.main {
  position: relative;
  width: 98%;
  margin: 0 auto;
  background-color: #f7f7f9;

}

.main:after {
  content: '';
  display: table;
  clear: both;
}

.mainnav {
  display: inline-block;
  width: 100%;
  height: 91px;
  margin-bottom: 10px;
  background: url(../img/mainnav-bg.png) repeat-x;
  border-bottom: 4px solid #e1e1e1;

  ul {
    list-style: none;

    li {
      position: relative;
      float: left;
      font-family: Cambria;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #5d5c5d;
      padding-right: 8px;
      white-space: nowrap;
      background: url(../img/nav-separator.png) center right no-repeat;
    }
    :last-child {
      background: none;
    }
  }

  .search {
    padding: 12px 30px 20px 0;
    float: right;
    background: transparent url(../img/nav-separator.png) no-repeat 180px 10px;

    input {
      vertical-align: text-bottom;
    }
  }

  .search__field {
    width: 147px;
    height: 30px;
    border: 1px solid #dadada;
    border-radius: 20px;
    outline: none;
    padding: 0 10px;
    margin-right: 16px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.22);
  }
  .search__button {
    width: 40px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 0;
    background: transparent url(../img/search__button.png) no-repeat center center;
    cursor: pointer;
  }
}

.mainnav__link a {
  display: inline-block;
  margin: 0 12px;
  padding: 20px 11px;
  font-family: Cambria;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #5d5c5d;
}

.mainnav > ul > li:hover > a,
.mainnav > ul > li.mainnav__link--active > a {
  position: relative;
  color: white;
  background: url(../img/mainnav-active.png) 0 10px repeat-x;
}

.mainnav > ul > li:hover > a:before,
.mainnav > ul > li:hover > a:after,
.mainnav > ul > li.mainnav__link--active > a:before,
.mainnav > ul > li.mainnav__link--active > a:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 38px;
  bottom: 0px;
  background-color: #dadada;
  color: white;
}

.mainnav > ul > li:hover > a:before,
.mainnav > ul > li.mainnav__link--active > a:before {
  left: -12px;
  background: url(../img/mainnav__link--active-left.png) no-repeat;
}

.mainnav > ul > li:hover > a:after,
.mainnav > ul > li.mainnav__link--active > a:after {
  right: -12px;
  background: url(../img/mainnav__link--active-right.png) no-repeat;
}

.mainnav__submenu {
  position: absolute;
  left: 0;
  top: 50px;
  padding: 0;
  padding-top: 7px;
  /*padding-left: 12px;*/
  display: none;
}

.mainnav > ul > li:hover .mainnav__submenu,
.mainnav > ul > li:hover .mainnav__submenu {
  display: block;
  z-index: 1;
}

.mainnav__sublink {
  display: block;
  max-width: 400px;
  width: 100%;
  color: #f4f4f5;
  background: cyan;
  text-decoration: none;
  padding: 6px 0 6px 30px;
  border-bottom: 2px solid white;
  background: url(../img/mainnav__sublink-bg.png) 7px 7px no-repeat;
}

.mainnav__submenu {
  //display: block;
}

.mainnav__submenu a {
  color: #fff;
  padding: 10px 2px 10px 30px;
}

.mainnav__submenu li:nth-child(even) .mainnav__sublink {
  background: url(../img/mainnav__sublink-bg.png) 7px center no-repeat;
  background-color: #0ea9d8;
}

.mainnav__submenu li:nth-child(odd) .mainnav__sublink {
  background: url(../img/mainnav__sublink-bg.png) 7px center no-repeat,
  -webkit-linear-gradient(#3fbae3 20%, #83d1f0 100%);
  background: url(../img/mainnav__sublink-bg.png) 7px center no-repeat,
  -o-linear-gradient(#3fbae3 20%, #83d1f0 100%);
  background: url(../img/mainnav__sublink-bg.png) 7px center no-repeat,
  linear-gradient(#3fbae3 20%, #83d1f0 100%);
}

.mainnav__sublink:hover {
  color: #0b68b5;
}

.mainnav .mainnav__submenu li {
  background-image: none;
  width: 100%;
}

/* sidebar */
.sidebar {
  position: absolute;
  height: 100%;
  float: left;
  width: 280px;
  max-width: 280px;
  min-height: 800px;
  padding-bottom: 32px;
  background: url(../img/sidebar-shadow.png) 258px -100px repeat-y;
  background-color: #f7f7f9;

  h3 {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    font-family: Cambria;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #0ba9d8;
  }
  h3:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 38px;
    top: 21px;
    right: -12px;
    background: url(../img/sidebar__h3--shadow.png) no-repeat;
  }
}

.calend {
  min-height: 310px;
}

.calend #cal.timepicker-sbs {
  width: 270px;
}

.timepicker-picker {
  display: none;
}

.newslist {
  padding: 0;
  padding-left: 25px;
}

.newslist__item {
  list-style: none;
  padding-bottom: 20px;
}

.newsdate,
.newslink {
  display: block;
}

.newslink {
  color: #0b68b5;
  text-decoration: underline;
}

.newslist__item--allnews {
  margin-left: -25px;
  text-align: center;
}

.stopbanner {
  text-align: center;
}

/*contentbox*/
.contentbox {
  //float: left;
  min-height: 1050px;
  margin-left: 280px;
  padding: 0 3% 0 40px;

  .adresslist {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 18px;
    }
  }
}

p {
  font-family: Tahoma;
  line-height: 18px;
  margin-top: 25px;
}

.breadcrumbs {
  width: 100%;
  min-height: 30px;
  margin: 0;
  padding: 0;
}

.breadcrumbs:after {
  content: '';
  display: table;
  clear: both;
}

.breadcrumbs ul {
  padding: 0;
}

.breadcrumbs__item {
  list-style: none;
  float: left;
  padding-left: 3px;
}

.breadcrumbs__item:first-child {
  padding-left: 0px;
}

.breadcrumbs__item:after {
  content: ' / ';
}

.breadcrumbs__item:last-child:after {
  content: '';
}


.breadcrumbs__item a {
  text-decoration: none;
}

.newsblok {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  min-width: 267px;
}

.anons {
  text-decoration: none;
  color: black;
  width: 267px;
}

.anons:hover {
  color: black;
}

.anons p {
  display: block;
  max-width: 267px;
  margin: 0;
  font-family: arial;
  line-height: 16px;
}

.anons p .anons__img {
  border: 15px solid #e0e0e0;
}

.anons p.anons__description {
  margin-top: -4px;
  padding: 15px 50px 15px 20px;
  background: url(../img/anons__description-bg.png) repeat-x;
}

/* location */
@import "location.scss";

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  position: relative;
  min-height: 170px;
  background: url(../img/footer-bg.png) center -3px repeat-x;
  background-color: #e9e9eb;
  text-align: left;
}

.footer__col {
  padding: 40px 4% 20px 5%;
  min-width: 170px;
  font-family: Tahoma;
}

.footer__col:nht-child(3) {
  background: red;
}

.aboutlist {
  padding: 0;
  margin: 0;
  margin-top: -5px;
}

.aboutlist__item {
  list-style: none;
  line-height: 24px;
}

.devinfo {
  width: 180px;
  margin-top: 40px;
}

.location {
  width: 98%;
  margin: 0 auto;
}

.map {
  width: 100%;
  height: 215px;
}

/*contacts*/

.contacts__item {
  max-width: 415px;
  width: 100%;
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 60px;
  vertical-align: top;
}

.contacts__item:nth-child(2n) {
  padding-right: 0;
}

.contacts__item .map {
  width: 100%;
  height: 215px;
  margin-bottom: 25px;
}

#cal td.active,
#cal td.active:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

#cal {
  position: relative;
  padding: 14px 14px 4px 4px;
  width: 250px;
  height: 200px;
  overflow: hidden;
}

#days,
.curr {
  width: 250px;
  margin-top: 10px;
}

/*thead*/

#cal .header {
  margin-top: 10px;
  position: relative;
}

#cal #days td,
#cal-frame td {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

#cal th {
  text-align: center;
  border-radius: 4px;
}

#cal thead tr:first-child th:hover {
  background: #eee;
}

#cal #prev {
  font-size: 0;
  cursor: pointer;
  display: block;
  /* float: left; */
  height: 20px;
  line-height: 28px;
  width: 20px;
  background: url(../img/calend__arrow--left.png) center center no-repeat;
  position: absolute;
  left: 13%;
  top: 0;
}

#cal #next {
  font-size: 0;
  cursor: pointer;
  display: block;
  /* float: right; */
  height: 20px;
  line-height: 28px;
  width: 20px;
  background: url(../img/calend__arrow--right.png) center center no-repeat;
  position: absolute;
  right: 13%;
  top: 0;
}

#label {
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.hook {
  display: none;
}

/*tbody*/

#cal-frame .today {
  color: #f7f7f9;
  background-color: #0ba9d8;
}

#cal td {
  height: 20px;
  line-height: 20px;
  width: 20px;
}

#cal td, #cal th {
  text-align: center;
  border-radius: 4px;
}

#cal #cal-frame td span {
  font-size: 80%;
  position: relative;
}

#cal #cal-frame td span:first-child {
  bottom: 5px;
}

#cal #cal-frame td span:last-child {
  top: 5px;
}

.allnews {
  display: block;
  padding-top: 12px;
  padding-bottom: 20px;
  text-align: center;
}

.calend__popup {
  position: absolute;
  display: none;
  top: 0;
  right: -337px;
  width: 285px;
  /*	min-height: 252px;*/
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 0;
  background-image: linear-gradient(to top, #74b8e0 0%, #8bccf0 100%);
  z-index: 1;
}

.calend__link {
  display: block;
  padding-left: 25px;
  padding-bottom: 40px;
  background: url(../img/mainnav__sublink-bg.png) 0px 3px no-repeat;
  text-align: left;
  color: white;
  font-size: 14px;
}

.calend__link:hover {
  color: #0b68b5;
}

#cal .close {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 600%;
  background: rgba(0, 0, 0, .2);
  z-index: -1;
}

.action {
  display: block;
}

/* end kalend */

/*all news page */

.allnewslist {
  width: 100%;
  /*background-color: white;*/
}

.allnewslist__item {

}

.allnewslist__imgpreview {
  width: 200px;
  height: 100px;
  padding-bottom: 20px;
  background: url(../img/logopkcentr.jpg) no-repeat;
  float: left;
}

.allnewslist__item:after {
  content: "";
  display: table;
  clear: both;
}

.allnewslist__date {
  display: inline-block;
  margin-top: 35px;
  margin-left: 20px;
}

.allnewslist__title {
  display: inline-block;
  margin-left: 12px;
}

.pagin {
  margin: 10px auto;
  display: flex;
  width: 100%;
  padding: 25px 0 30px 0;
  border-top: 1px solid #e5e5e5;
  justify-content: center;
}

.pagin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagin li {
  padding: 0 4px;
  float: left;
}

.pagin li a {
  padding: 10px;
}

.pagin li:last-child a,
.pagin li:first-child a {
  text-decoration: none;
}

/* end allnews page */

/*single__news page */

.singlenews__title {
  font-size: 22px;
  font-weight: 500;
}

.singlenews__date {

}

.singlenews__img {
  display: block;
  /*width: 100%;*/
  max-width: 800px;
  height: auto;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.singlenews__galery {
  padding: 20px 0;
}

.singlenews__backlink {
  padding: 30px 0;
  display: inline-block;
}

/* end single__news page */

.fancybox-thumb {
  text-decoration: none;
}

/* guestbook */

.guestform {
  width: 550px;
  padding-bottom: 40px;
  font-family: Tahoma, serif;
  text-align: right;
}

.guestform__title {
  font-size: 18px;
  text-align: right;
  margin-right: 178px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.guestform input {
  width: 300px;
  margin-top: 10px;
}

.guestform textarea {
  margin-top: 10px;
  vertical-align: top;
  width: 298px;
  height: 70px;
  overflow: auto;
}

.textarea__title {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 4px;
}

.bonuscod__title {
  display: inline-block;
  max-width: 160px;
  text-align: left;
  vertical-align: top;
  margin-top: 10px;
}

.bonuscod__title span {
  color: #60a7d4;
  font-size: 18px;
}

.guestform input[type="submit"] {
  width: 80px;
  margin-right: 223px;
}

.guestmessage {
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
}

.guestmessage__name {
  margin: 0;
  color: #000000;
  font-size: 18px;
}

.guestmessage__date {
  color: #5d5c5d;
}

.guestmessage__admin {
  margin-right: 16px;
  margin-top: 30px;
  text-align: right;
  font-weight: 400;
}

.guestmessage__adminname {
  color: #5d5c5d;
  font-weight: 400;
}

.bigadmin {
  color: #5d5c5d;
  font-weight: 700;
}

.admin__message {
  margin-top: 10px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
}

/*end guestbook */

@media screen and (max-width: 1200px) {
  body {
    max-width: 760px;
  }
  header {
    width: auto;
    min-height: 94px;
    margin-bottom: -20px;
  }
  .slider {
    display: none;
  }
  .navwrap {
    width: 515px;
  }
  .logo {
    width: 76px;
    height: 66px;
    margin-top: 8px;
    margin-left: 16px;
    padding-left: 11px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    background: url(../img/bird.png) 100% 100% no-repeat;
    background-size: 66px auto;
  }
  .navwrap ul {
    margin-bottom: 0;
  }
  .navwrap ul .navmenu__link a {
    font-size: 10px;
    padding: 30px 9px 39px 9px;
  }
  .soclink {
  }
  .soclink a {
    width: 24px;
    height: 24px;
  }
  .soclink img {
    width: 18px;
    height: auto;
    vertical-align: middle;
    margin-top: 3px;
    background-size: contain;
  }
  .main {
    width: auto;
    max-width: 760px;
  }
  .sidebar {
    display: none;
  }
  .mainnav {
    height: 80px;
  }
  .mainnav ul .mainnav__link,
  .mainnav__link a {
    font-size: 10px;
    font-weight: bold;
  }
  .mainnav__link a {
    display: inline-block;
    margin: 0 5px;
    padding: 20px 5px;
  }
  .mainnav ul .mainnav__link {
    padding-right: 5px;
  }
  .mainnav__submenu li:nth-child(odd) a,
  .mainnav__submenu li:nth-child(even) a {
    padding: 10px;
    padding-left: 30px;
  }
  .mainnav .search {
    padding: 12px 7px 20px 0;
  }
  .mainnav .search__field {
    width: 95px;
    padding: 0 10px;
    margin-right: 0px;
  }
  .mainnav .search__button {
    width: 40px;
  }
  .navwrap ul .navmenu__link a:hover:before,
  .navwrap ul .navmenu__link--active a:before {
    margin-left: -32px;
    background: url(../img/navmenu__link--active-mob.jpg) 0 0 no-repeat;
    bottom: -5px;
  }

  .contentbox {
    float: none;
    width: auto;
    padding: 0 25px 30px;
    min-height: 220px;
    margin-left: 0;
  }
  .anons {
    max-width: 210px;
  }
  .anons p .anons__img {
    border: 10px solid #e0e0e0;
    max-width: 190px;
  }
  .anons p.anons__description {
    padding: 12px 10px 15px 12px;
  }
  .location {
    width: 100%;
  }

  footer {
    width: auto;
  }
  .footer__col {
    min-width: 100px;
    padding: 40px 2%;
  }

  .mainnav__link--active:before,
  .mainnav > ul > li:hover:before {
    display: none;
  }
  .mainnav__link--active:after,
  .mainnav > ul > li:hover:after {
    display: none;
  }
  .aboutlist__item {
    list-style: none;
    line-height: 27px;
  }

}

@media screen and (max-width: 759px) {
  body {
    width: 320px;
  }
  header {
    width: 320px;
    height: 90px;
    background: url(../img/navwrap-bg.png) 0 0px repeat-x;
  }
  .navwrap {
    width: 320px;
    margin: 0 auto;
    margin-top: 0px;
    background: none;
    border: none;
    border-radius: none;
    border-bottom: none;
    position: relative;
  }
  .navmenu:before,
  .navmenu:after,
  .navmenu__link--active a:before {
    display: none;
  }
  .logo {
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 0;
    line-height: 10px;
    width: 80px;
    height: 65px;
    background-size: 65px auto;
  }
  .navwrap ul {
    padding-left: 0px;
    margin-top: 6px;
    margin-right: 5px;
  }
  header .navmenu {
    margin: 0;
    min-height: 70px;
  }
  /*.navwrap ul .navmenu__link,*/
  .navwrap ul .navmenu__link a {
    font-size: 10px;
    padding: 20px 8px 18px;
    margin-top: 0;
  }
  .navwrap ul .navmenu__link a:hover:before {
    background: none;
  }
  .navwrap ul .navmenu__link {
    font-size: 10px;
    padding: 0;
  }
  .navwrap ul .navmenu__link a:hover,
  .navwrap ul .navmenu__link--active a,
  .navmenu__link--active,
  .navwrap ul .navmenu__link--active a:before {
    background: none;
  }
  .navmenu ul li:nth-child(2) {
    display: none;
  }
  .soclink {
    display: none;
  }
  .main {
    max-width: 320px;
    padding-top: 5px;
  }
  .mainnav {
    display: none;
  }
  .anons {
    display: block;
    margin: 10px auto;
    min-width: 257px;
  }
  .anons:last-child {
    margin-right: auto;
  }
  .anons p .anons__img {
    border: 10px solid #e0e0e0;
    max-width: 237px;
  }
  /* mob news */
  .allnewslist__date {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .allnewslist__title {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 30px;
  }
  /*mob guestbook*/
  .guestform {
    width: auto;
    text-align: left;
  }
  .guestform input {
    width: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .guestform textarea {
    width: 258px;
  }
  .guestform__title {
    font-size: 18px;
    text-align: left;
    margin-right: 0;
  }

  .contentbox {
    min-height: 100px;
    padding: 0 14px 20px;
  }

  .mainnav--open {
    display: block;
    right: 7px;
    top: -7px;
    width: 44px;
    height: 44px;
    position: absolute;
    border-radius: 50%;
    border: none;
    z-index: 12;
    background: url(../img/mainnav--burger.png) no-repeat;
    cursor: pointer;
  }
  .mainnav--active .mainnav--open {
    display: block;
    right: 7px;
    top: -7px;
    width: 44px;
    height: 44px;
    position: absolute;
    border-radius: 50%;
    border: none;
    z-index: 12;
    background: url("../img/x-white.png") center center / contain no-repeat #009bb8;
    cursor: pointer;
  }
  .mainnav {
    display: block;
    border: none;
    height: 0px;
    margin: 0px;
    padding: 0;
    background: none;
  }
  .mainnav > ul {
    display: none;
    padding-left: 10px;
    margin: 5px 10px 25px 0;
  }
  .mainnav .search {
    display: none;
  }
  .mainnav--active {
    left: 0;
    width: auto;
    height: auto;

  }
  .mainnav--active > ul {
    display: block;
  }
  .mainnav--active ul li {
    display: block;
    float: none;
    background: none;
  }
  .mainnav--active > ul > .mainnav__link a:hover {
    background: none;
  }
  .mainnav--active ul .mainnav__link a:hover:before,
  .mainnav--active ul .mainnav__link a:hover:after {
    display: none;
  }
  .mainnav > ul > li:hover > a:after,
  .mainnav > ul > li.mainnav__link--active > a:after,
  .mainnav > ul > li:hover > a:before,
  .mainnav > ul > li.mainnav__link--active > a:before {
    display: none;
  }
  .mainnav > ul > li:hover > a, .mainnav > ul > li.mainnav__link--active > a {
    background: none;
    color: #0b68b5;
  }
  .mainnav--active .mainnav__link a {
    display: block;
    padding: 7px 5px;
    border-bottom: 1px solid;
  }
  .mainnav > ul > li:hover .mainnav__submenu {
    display: none;
  }
  .mainnav--active .mainnav__link a:hover {
    color: #0b68b5;
  }
  .mainnav--active ul li {
    padding: 0;
    display: block;
    float: none;
    background: none;
  }
  .mainnav__link a {
    font-size: 10px;
  }
  .search {
    display: none;
  }
  .newsblok {
    flex-direction: column;
  }
  footer {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
  }
  .footer__col {
    padding: 14px 20px;
    min-width: 10px;
  }
}

.pagination ul {
	list-style: none;
}

.pagination li {
	padding: 0 4px;
	float: left;
}

.newsblok .controls {
	display: none;
}

@media screen and (max-width: 759px) {
	.anons {
	    display: block;
	    margin: 10px auto;
	    min-width: 257px; }
	  .anons:last-child {
	    margin-right: auto; }
	  .anons p .anons__img {
	    border: 10px solid #e0e0e0;
	    max-width: 237px; }
	.contentbox {
		background: #f4f4f5;
	}
	.newsblok {
		position: relative;
		height: 365px;
	}
	.anons {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 30px;
		z-index: 1;
		min-width: 211px;

		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-o-transition: opacity 1s;
		transition: opacity 1s;
	}
	.anons p {
		display: block;
		max-width: 188px;
	}
	.showing {
		opacity: 1;
		z-index: 2;
	}
	.newsblok .controls {
		outline: none;
		font-size: 0;
		border: none;
		background-color: transparent;
		position: absolute;
		display: block;
	}
	#previous {
		width: 40px;
		height: 290px;
		top: 10px;
		left: -10px;
		transform: rotate(180deg);
		background: url(../img/slide-arrow.png) 5px 110px no-repeat;
	}
	#nnext {
		width: 40px;
		height: 290px;
		top: 10px;
		right: -10px;
		background: url(../img/slide-arrow.png) 5px 95px no-repeat;
	}
}


@media screen and (max-width: 1200px) {
	.contentbox {
	  float: none;
	  width: auto;
	  padding: 0 25px 30px;
	  min-height: 220px;
	  margin-left: 0;
	}
	.anons {
	  max-width: 210px;
	}
	.anons p .anons__img {
	  border: 10px solid #e0e0e0;
	  max-width: 190px;
	}
	.anons p.anons__description {
	  padding: 12px 10px 15px 12px;
	}
}

/*.newsblok {
	padding-top: 15px;
	padding-bottom: 15px;
}

.anons {
	display: inline-block;
	max-width: 267px;
	margin-right: 32px;
	text-decoration: none;
	color: black;
}

.anons:hover {
	color: black;
}

.anons:last-child {
	margin-right: 0;
}

.anons__img {
	border: 15px solid #e0e0e0;
}

.anons__description {
	margin: 0;
	margin-top: -4px;
	padding: 15px 50px 15px 20px;
	font-family: arial;
	line-height: 16px;
	background: url(../img/anons__description-bg.png) repeat-x;
}
*/