body {
    /*background: #000;*/
}

.twilight {
    position: relative;
    float: left;
}

.twilight__handler {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
}

.twilight__text {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    color: #FFF;
    cursor: default;
}

.twilight__letter {
    opacity: 0;
}

.twilight__image-box {
    position: relative;
}

.twilight__image_cover_yes {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
